<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - ASMI</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/assets/css/main.css" />
    <link rel="stylesheet" href="~/css/setari_aditionale.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="is-preload" style="margin:0">
    @*<header id="header">
            <a class="logo" href="/"><img src="/images/cropped-asmi-logo-3.png" height="40" width="40" style="margin:5px;"></a>
            <nav>
                <a href="#menu">Meniu</a>
            </nav>
        </header>
        <nav id="menu">
            <ul class="links">
                <li><a href="/Index">Home</a></li>
                <li><a href="/Departamente">Departamente</a></li>
                <li><a href="/Studenti">Studenti</a></li>
                <li><a href="/ZiarulASMI">Ziarul ASMI</a></li>
                <li><a href="/Smarthack">Smarthack</a></li>
                <li><a href="/GhidulBobocului">Ghidul Bobocului</a></li>
                <li><a href="/CalendarASMI">Calendar ASMI & FMI</a></li>
            </ul>
        </nav>*@

    <nav id="asmi-navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid all-show">
            <a class="navbar-brand" href="#">
                ASMI
                <i class="fab fa-codepen"></i>
            </a> 

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#asmi-nav-content" aria-controls="asmi-nav-content" aria-expanded="false" aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button>

            <div class="collapse navbar-collapse" id="asmi-nav-content">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="/" aria-current="page">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Departamente">Departamente</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Studenti">Studenti</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ZiarulASMI">Ziarul ASMI</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Smarthack">Smarthack</a></li>
                    <li class="nav-item"><a class="nav-link" href="/GhidulBobocului">Ghidul Bobocului</a></li>
                    <li class="nav-item"><a class="nav-link" href="/CalendarASMI">Calendar ASMI & FMI</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div>
        <main role="main" style="margin:0" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="inner">
            <div class="content">
                <section>
                    <h4><b>Date de contact</b></h4>
                    <ul class="alt">
                        <li><a href="#">Strada Academiei Nr. 14 București</a></li>
                        <li><a href="#">E-mail: cd@asmi.ro</a></li>
                        <li><a href="#">Phone: 0720 257 456</a></li>

                    </ul>
                </section>
                <section>
                    <h4><b>Retele de socializare</b></h4>
                    <ul class="plain">
                        <li><a href="https://www.facebook.com/asmi.ub/about/?ref=page_internal"><i class="fab fa-facebook-f fa-lg">&nbsp;</i>Facebook</a></li>
                        <li><a href="https://www.instagram.com/asmi.ub/"><i class="fab fa-instagram">&nbsp</i>Instagram</a></li>
                    </ul>
                </section>
                <section>
                    <h3><b>Contactează-ne! </b></h3>
                    <p>Și îți vom răspunde pe cât de repede posibil.</p>
                </section>
            </div>
            <div>
                &copy; 2021 - ASMI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Scripts -->
    <script src="~/lib/assets/js/jquery.min.js"></script>
    <script src="~/lib/assets/js/browser.min.js"></script>
    <script src="~/lib/assets/js/breakpoints.min.js"></script>
    <script src="~/lib/assets/js/util.js"></script>
    <script src="~/lib/assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
