ASMI/appsettings.json
ASMI/ASMI.csproj
ASMI/ASMI.csproj
.vs/VSWorkspaceState.json
.vs/ASMI-SITE/v17/DocumentLayout.json
.vs/ASMI-SITE/v17/.wsuo
.vs/ASMI-SITE/CopilotIndices/17.12.38.29086/SemanticSymbols.db
.vs/ASMI-SITE/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/site-asmi-nou/CopilotIndices/17.12.38.29086
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/site-asmi-nou/v17/DocumentLayout.backup.json
/.vs/site-asmi-nou/v17/DocumentLayout.json
/.vs/site-asmi-nou/v17/.wsuo
