:root {
    --asmi-lightest-blue: #3b98c7;
    --asmi-light-blue: #005987;
    --asmi-dark-blue: #034a6f;
    --asmi-darkest-blue: #002c43;
    --asmi-black: #000;
    --asmi-white: #fefefe;
    --red: #D00600
}
