body {
background-image: url(../images/wrapbg.jpg) !important;
background-position: top left !important;
background-repeat: no-repeat !important;
background-size: 100% !important;
}

body::after {
content: none;
}


.owl-dot {
box-shadow: none;
}

.service-26 {
color: #8d97ad;
font-weight: 300;
}

.service-26 h1, .service-26 h2, .service-26 h3, .service-26 h4, .service-26 h5, .service-26 h6 {
color: #3e4555;
}

.service-26 .font-weight-medium {
font-weight: 500;
}

.service-26 .badge {
line-height: 14px;
}

.service-26 .badge-info {
background: #188ef4;
}

.service-26 .wrap-service-26 .max-box {
max-width: 580px;
}

.service-26 a {
text-decoration: none;
}

.service-26 .linking {
color: #3e4555;
}

.service-26 .linking:hover {
color: #316ce8;
}







.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .owl-nav {
    height: 0;
}

.owl-carousel .owl-nav button {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
    border: none !important;
    background: none !important;
    box-shadow: none;
}

.owl-carousel .owl-prev {
    left: 10px;
}

.owl-carousel .owl-next {
    right: 10px;
}