#all-projects-btn .separator {
    width: 25%;
}

    #all-projects-btn .separator::before,
    #all-projects-btn .separator::after {
        border-bottom: 1px solid var(--asmi-dark-blue);
    }

#banner::before {
    background: var(--asmi-light-blue);
}

.author h5 {
    margin: 0;
}

.cd-text {
    min-height: 100px;
}