.jumbotronn {
    padding: 15rem 1rem;
    background-image: url("/images/cover.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: .3rem;
}


@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
    /* Move up */
    100% {
        transform: translateY(500px);
    }
    /* Move down */
}

.mario {
    background-image: url('/images/mario.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: -160px;
    margin-top: 30px;
    animation: alternate 1s moveUpDown;
}



.mario_tunnels {
    background-image: url('/images/mario_tunnels.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 600px;
    display: block;
    margin: 0 auto;
}

div ul {
    padding: 0px;
    margin-top: 0px;
}

#amr {
    padding: 0px;
    margin-bottom: 0px;
}

body {
    background-image:url('/images/bg_pagina recrutari.png');
}

.flex-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

.text {
    color: white;
    font-size: 24px; 
    text-align: center; 
    display: flex;
    align-items: center; 
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the button */
}


.mario-info {
    display: flex;
    justify-content: center; 
    gap: 250px;
    color: white;
    font-size: 16px;
    text-align: center; 
}

    .mario-info h2 {
        margin: 0;
    }
