/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: var(--asmi-dark-blue);
}
.project-logo {
    width: 150px;
    height: auto;
}

.btn-primary {
    color: var(--asmi-white);
    background-color: var(--asmi-light-blue);
    border-color: var(--asmi-dark-blue);
}

.btn-primary-outline {
    color: var(--asmi-dark-blue);
    border-color: var(--asmi-dark-blue);
}

    .btn-primary-outline:hover {
        color: var(--asmi-white);
        border-color: var(--asmi-dark-blue);
        background-color: var(--asmi-light-blue);
        text-decoration: none !important;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--asmi-white);
    background-color: var(--asmi-light-blue);
    border-color: var(--asmi-dark-blue);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 16px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

    body::after {
        content: "";
        /*background-image: url(../images/unibuc.jpg);*/
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        opacity: 0.1;
        background-size: cover;
        background-repeat: no-repeat;
    }

#cta {
    background-color: #ce1b28;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: url('/images/ASMI5.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1;
}

#asmi-navbar {
    background-color: var(--asmi-light-blue) !important;
}

    #asmi-navbar a {
        color: var(--asmi-white);
    }

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

    .separator::before,
    .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--asmi-black);
    }

    .separator:not(:empty)::before {
        margin-right: .25em;
    }

    .separator:not(:empty)::after {
        margin-left: .25em;
    }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.testimonials .content .author .image {
    /*    width:70px;
    height:70px;*/
}

.vh-50 {
    height: 50vh;
}