@{
    ViewData["Title"] = "Admitere";
}
@{
    Layout = "~/Views/Shared/_LayoutZpd.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/zpd.css" />
}
<main>
    <div class="py-4">
        <img src="~/images/Admitere_Title.png" alt="despre admitere" style="display: block; max-width: 100%; height: auto; margin: 0 auto; padding: 10px;">
    </div>
    
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Înscrierea online</h3><hr><p class="jost"></p><p>
            Înscrierile se vor face <strong>exclusiv online</strong>. Pentru a facilita procesul de admitere și pentru a îmbunătăți experiența candidaților, facultatea va dispune de <strong>o platformă online</strong> pe care vă veți putea înscrie pentru a da admiterea.
            Candidații care au susținut bacalaureatul în sesiunea curentă se pot înscrie online <strong>fără diploma sau adeverința de bacalaureat</strong>, prin specificarea în aplicația de înscriere a acordului de a le fi preluate rezultatele la bacalaureat din aplicația SIIIR pusă la dispoziție facultăților de către MEC.
        </p><p>Mai multe detalii despre înscrierea online și despre platforma care va fi folosită vor apărea pe <a href="https://fmi.unibuc.ro/admitere-licenta-iulie-2025/" target="_blank">pagina oficială a facultății</a>.</p><p>Pentru mai multe informații și noutăți, urmăriți <a href="https://www.facebook.com/groups/484636324701228/" target="_blank">grupul oficial</a> al Admiterii 2025, <a href="https://www.facebook.com/fmi.ub" target="_blank">pagina oficială de Facebook</a> a facultății sau <a href="https://www.instagram.com/asmi.ub/" target="_blank">contul de Instagram al Asociației</a>.</p><p></p>
    </div>
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Cum este admiterea la Informatică ID?</h3><hr><p>Aceasta va avea loc în luna septembrie, mai multe detalii urmează să fie publicate ulterior pe <a href="https://fmi.unibuc.ro/admitere/" target="_blank">site-ul facultații</a>.</p>
    </div>
    <div class="zpd_card navigation-container">
        <a href="/FAQ" class="nav-button">
            Citește și despre întrebări puse frecvent <i class="fas fa-arrow-right"></i>
    </div>

</main>