@{ ViewData["Title"] = "ButonulRosu"; }

@section Styles {
    <link rel="stylesheet" href="~/css/studenti.css" />
    <link rel="stylesheet" href="~/css/butonul_rosu.css" />
}


<div class="py-5 service-26">

    <div class="container">
        <h2 class="card-title">Butonul Roșu</h2>


        <p class="card-text">ASMI își propune, înainte de toate, să sprijine toți studenții facultății și să le facă acești ani cât mai plăcuți. Pentru ca aceste lucruri să fie posibile, este necesar să existe o colaborare continuă între asociație și studenți. </p>


        <p></p>
        <p class="card-text">
            Am implementat în acest sens “Butonul roșu”, un buton de panică, pe care ești încurajat să îl apeși dacă ai vreo problemă referitoare la mediul studențesc (drepturi academice/sociale încălcate, hărțuiri/abuzuri, etc). Vom încerca să te ajutăm sau să te redirecționăm către oamenii potriviți, în funcție de caz.

        </p>

        <p>
            Știm, însă, că sunt situații în care nu este simplu să îți gestionezi sau să îți exprimi trăirile și emoțiile. De aceea, am conceput acest formular, care sperăm să îți ușureze procesul:
           
        </p>
        <a href="https://forms.gle/4zuLFN7eZyM1NMRn9" target="_blank" class="btn-lg btn-danger font-weight-bold">Butonul Roșu</a>

        
    </div>
