@{
    ViewData["Title"] = "Despre FMI";
}
@{
    Layout = "~/Views/Shared/_LayoutZpd.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/zpd.css" />
}
<main>
    <div class="py-4">
        <img src="~/images/DespreFMI_Title.png" alt="despre admitere" style="display: block; max-width: 100%; height: auto; margin: 0 auto; padding: 10px;">
    </div>
    
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center mt-4">Domeniul Matematică<br>
            <span class="w-auto badge badge-primary text-wrap mt-1 mb-1">📚 Durată: 3 ani</span><br>
            <span class="w-auto badge badge-info text-wrap">🎓 Diplomă obținută: Licență în Matematică</span>
        </h3>
        <hr>
        <p>În primul an vei studia materii fundamentale de matematică. Din anul al doilea, îți vei putea alege una dintre cele trei <strong>specializări</strong>, în funcție de preferințele tale:</p>
        <div class="row">
            <div class="col-lg-8">
                <h3 id="1-matematică-pură"><strong>1. Matematică pură:</strong></h3>
                <p>Absolvenții de <strong>Matematică pură</strong> sunt cei care se îndreaptă către <strong>învățământ</strong> de toate gradele și către <strong>cercetare</strong>, unde își vor aprofunda cunoștințele acumulate de-a lungul anilor în facultate. Dacă ești pasionat de matematică, acest program cuprinde toate disciplinele de bază din acest domeniu, dar și cursuri de specialitate, cum ar fi <strong>Teoria numerelor</strong>, <strong>Analiză funcțională</strong> sau <strong>Ecuații cu derivate parțiale</strong>.</p>
                <h3 id="2-matematici-aplicate"><strong>2. Matematici aplicate:</strong></h3>
                <p>Absolvenții de <strong>Matematici aplicate</strong> pot alege să lucreze ca matematicieni în <strong>domeniul economic</strong> (în cadrul băncilor, societăților de asigurări, pensii, la Bursă, institute de statistică, sau chiar data scientist). În cadrul acestei specializări, se pune accentul pe metode matematice și statistice aplicate în mod practic în diverse domenii științifice, astfel încât studenții să poată urma o carieră și în domeniul informaticii, în fizică teoretică sau în orice domeniu în care se aplică matematica.</p>
                <h3 id="3-matematică-informatică"><strong>3. Matematică Informatică:</strong></h3>
                <p>Absolvenții de <strong>Matematică Informatică</strong> sunt cei care au o pasiune atât pentru matematică, cât și pentru <strong>informatică</strong>, și își doresc să le studieze pe amândouă, într-un program comun, la un nivel care să le permită ulterior să se îndrepte în oricare dintre cele 2 direcții. În cadrul specializării se studiază multe materii <strong>în comun</strong> cu cei de la Informatică, astfel studentul poate continua să aprofundeze matematica, dar și să se dezvolte în <strong>domeniul IT</strong>.</p>
                <p><strong>Planurile de învățământ</strong> de la fiecare specializare pot fi găsite <a href="https://drive.google.com/drive/folders/11z9Eh0cLsHUBQHTVII6nTsF8TRVqirnY" target="_blank"><strong>aici</strong></a>.</p>
            </div>
            <div class="col-lg-4 mb-4 mt-4">
                <img aria-hidden="true" class="img-fluid"src="~/images/zpd_mate.png">
            </div>
        </div>
    </div>
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center mt-4">Domeniul Informatică<br>
            <span class="w-auto badge badge-primary text-wrap mt-1 mb-1">📚 Durată: 3 ani</span><br>
            <span class="w-auto badge badge-info text-wrap">🎓 Diplomă obținută: Licență în Informatică</span>
        </h3>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <p>În cadrul domeniului de <strong>Informatică</strong>, studenții vor aprofunda <strong>toate ramurile domeniului IT</strong>, de la <strong>algoritmică</strong>, la <strong>baze de date</strong>, <strong>inteligență artificială</strong>, <strong>rețelistică</strong>, <strong>dezvoltare de aplicații web și mobile</strong> și multe altele. În esență, acesta este un program de <strong>Computer Science</strong>, după cum este el cunoscut la nivel internațional. Bineînțeles, se vor studia și anumite materii de matematică, pentru a acumula cunoștințe de care este nevoie pentru materiile avansate de informatică, însă în afară de acestea, studiile sunt axate pe partea de software și programare.</p>
                <p>Unul dintre marile avantaje ale acestui domeniu de licență este acela că <strong>anul 3 este extrem de personalizabil</strong>, întrucât conține multe opționale, astfel îți permite să studiezi ceea ce îți place, alegând dintr-o listă foarte lungă de materii.</p>
                <p>Oportunitățile după absolvire includ angajarea oriunde în <strong>sfera IT</strong>, întrucât facultatea te pregătește pentru toate subdomeniile. În plus, se pot continua studiile cu unul dintre cele 8 <strong>programe de master</strong> oferit de FMI sau de alte universități europene. De asemenea, absolvenții se pot orienta și către un program de <strong>doctorat</strong> sau chiar spre o carieră didactică în informatică.</p>
                <p><strong>Planul de învățământ</strong> pentru domeniul Informatică este disponibil <a href="https://drive.google.com/drive/folders/1Rfsn9hPv4oCGH2hZljUB70Yoj0AQc_-U" target="_blank"><strong>aici</strong></a>.</p>
            </div>
            <div class="col-lg-4 mb-4 mt-4">
                <img aria-hidden="true" class="img-fluid" src="~/images/zpd_info.png">
            </div>
        </div>
    </div>
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center mt-4">Domeniul Calculatoare și Tehnologia Informației<br>
            <span class="w-auto badge badge-primary text-wrap mt-1 mb-1">📚 Durată: 4 ani</span><br>
            <span class="w-auto badge badge-info text-wrap">🎓 Diplomă obținută: Inginer în Calculatoare și Tehnologia Informației</span>
        </h3>
        <hr>
        <div class="row">
            <div class="col-lg-4 order-lg-0 order-1 mb-4 mt-4">
                <img aria-hidden="true" class="img-fluid" src="~/images/zpd_cti.png">
            </div>
            <div class="col-lg-8">
                <p>Domeniul de licență <strong>Calculatoare și Tehnologia Informației</strong> (CTI) este unul de inginerie, pregătindu-te atât pe partea de software, cât și pe cea de <strong>hardware</strong>. Mai exact, se studiază multe materii comune cu cei de la Informatică (baze de date, structuri de date, tehnici web, sisteme de operare, programare orientată pe obiecte, inteligență artificială, etc.), însă și multe materii orientate spre hardware. Câteva exemple ar fi cele de <strong>fizică</strong>, <strong>rețelistică</strong>, <strong>microprocesoare</strong>, <strong>robotică</strong>, <strong>arhitectura sistemelor de calcul</strong> și multe altele. Există multiple opționale pe care studenții le pot alege și în cadrul acestui domeniu de licență.</p>
                <p>Facultatea de Matematică și Informatică oferă acest program în parteneriat cu Facultatea de Fizică (care acoperă toate cursurile de fizică, electronică și hardware) și cu Facultatea de Administrație și Afaceri (care acoperă cursurile de economie, fiind utile pentru cei interesați de modul în care funcționează o firmă în domeniu). Absolvenții de la CTI pot lucra atât în <strong>domeniul IT</strong> (în orice ramură menționată anterior), cât și ca <strong>administratori și proiectanți</strong> de rețele de calculatoare, de baze de date, ca analiști de sistem, ingineri de testare, etc.</p>
                <p><strong>Planul de învățământ</strong> pentru domeniul CTI este disponibil <a href="https://drive.google.com/drive/folders/1YN07bNSGm6tsg8Xum497jAcJB5qQputp" target="_blank"><strong>aici</strong></a>.</p>
            </div>
        </div>
    </div>
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center mt-4">Domeniul Informatică ID</h3>
        <hr>
        <p>Învățământul la distanță se caracterizează prin utilizarea resurselor electronice și activități de autoînvățare completate de ore la facultate care se vor ține săptămânal, în weekend. Astfel, ți se oferă posibilitatea de a parcurge toată materia de la învățământul cu frecvență și să îți obții licența în informatică, putând totodată să te concentrezi pe alte activități productive.</p>
    </div></div>
    <div class="zpd_card navigation-container">
        <a href="/admitere" class="zpd_nav-button">
            Află mai multe despre admitere <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</main>
