@section Styles{
	<link rel="stylesheet" href="~/css/elevi.css" />
}

<div class="container pt-3 pb-3">
	<div class="row">
		<div class="card col-sm-6 col-lg-3 col-12">
			<div class="card-body">
				<div class="card-title"><h2>Ziua Porților Deschise</h2></div>
				<div class="card-text text-center">„Artă'n Dar” este un eveniment care promovează cultura și arta 
					în rândul studenților și, în același timp, urmărește 
					scopul de a împărți bucurie și cadouri oamenilor care au cea mai mare nevoie.</div>
			</div>
		</div>
	</div>
</div>