@{
    ViewData["Title"] = "FAQ";
}
@{
    Layout = "~/Views/Shared/_LayoutZpd.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/zpd.css" />
}

<main>
    <div class="py-4">
        <img src="~/images/FAQ_Title.png" alt="Intrebări Frecvente" style="display: block; max-width: 100%; height: auto; margin: 0 auto; padding: 10px;">
    </div>
        
    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">De ce să aleg București în locul altor orașe?</h3>
        <hr>
        <p>
            În mare parte, trebuie să te gândești în ce oraș ți-ai dori să locuiești și care sunt oportunitățile pe care ți le oferă. În București, de exemplu, fiind un oraș foarte mare, sunt multe <strong>companii</strong> care își au sediile deschise aici.
            Totodată, aici poți găsi o comunitate mare de pasionați de tehnologie, multe <strong>meetup-uri</strong>, <strong>workshop-uri</strong>, <strong>conferințe</strong> sau poți chiar să găsești investitori pentru ideile tale. Pe lângă toate acestea, Bucureștiul este un oraș plin de viață, unde îți poți petrece timpul liber participând la <strong>concerte</strong>, vizitând atracțiile locale sau plimbându-te prin parcuri sau prin Centrul Vechi, facultatea noastră fiind plasată chiar la marginea
            acestuia.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">De ce FMI și nu alte facultăți?</h3>
        <hr>
        <p>
            Printre <strong>avantajele</strong> pe care le oferă facultatea noastră se numără <strong>programul flexibil</strong>, <strong>aprofundarea</strong> domeniilor de interes (poți studia doar Matematică sau doar Informatică, dacă dorești), <strong>materia</strong> care acoperă toate ariile de studiu, <strong>profesorii dedicați</strong> din facultate și <strong>proiectele oferite de ASMI</strong>, precum cele de integrare în facultate, cele academice sau cele sociale.
            <strong>Recomandăm cu tărie</strong> răsfoirea <a href="https://drive.google.com/drive/folders/1kG5DrzUHeDTVoqDXhJf9UH80HGlBNieQ" target="_blank">planurilor de învățământ</a> pentru a vedea materiile studiate și pentru a lua o <strong>decizie informată</strong> în această privință.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Cum mă pot pregăti pentru admiterea la informatică?</h3>
        <hr>
        <p>
            Știm că pregătirea pentru admitere poate părea copleșitoare și dificilă. Totuși, considerăm ca o metodă bună constă în rezolvarea subiectelor de admitere din anii anteriori. Acestea pot fi găsite în subsolul <a href="https://fmi.unibuc.ro/admitere-licenta-iulie-2025/" target="_blank">paginii de admitere</a>.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Dacă am intrat la taxă în primul an, este vreo posibilitate de a trece la buget ulterior?</h3>
        <hr>
        <p>
            <strong>Da.</strong> Înaintea începerii fiecărui an universitar, se va realiza o <strong>reclasificare</strong>, unde se va ține cont de rezultatele obținute în anul universitar precedent.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Mă pot muta de la un domeniu la altul? De exemplu, de la CTI la Informatică?</h3>
        <hr>
        <p>
            <strong>Nu</strong>. Pentru a te transfera la alt domeniu, trebuie <strong>să susții din nou admiterea</strong> și să fii admis la domeniul respectiv. Mai târziu există posibilitatea de a echivala materii comune.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Dacă am notă bună, pot primi bursă?</h3>
        <hr>
        <p>
            Da. Primii <strong>15-20%</strong> (depinde de la an la an) dintre cei clasați vor primi bursă de merit, în valoare de <strong>1200 lei/lună.</strong>
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Există un număr limitat de locuri pentru olimpici?</h3>
        <hr>
        <p>
            Numărul de locuri pentru olimpici este limitat doar de numărul total de locuri de la fiecare domeniu.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Cum se acordă locurile la cămin în anul I?</h3>
        <hr>
        <p>
            Locurile la cămin pentru anul I se acordă în <strong>ordinea descrescătoare a mediilor de admitere</strong>, în limita disponibilității.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">
            Dacă intru la altă facultate de informatică, mă pot transfera ulterior la Facultatea de
            Matematică și Informatică, Unibuc?
        </h3>
        <hr>
        <p>
            <strong>Da</strong>, cu mențiunea că va trebui să susții ulterior examenele la care nu este posibilă echivalarea cu materiile pe care le-ai parcurs.
        </p>
    </div>

    <div class="zpd_card">
        <h3 class="upper text-main font-weight-bold text-center">Ce activități extracurriculare există?</h3>
        <hr>
        <p>
            De la oportunități de a te dezvolta profesional prin <strong>concursuri studențești</strong> pe plan național sau internațional, la activități recreative precum <strong>seri de jocuri</strong> și <strong>petreceri</strong>, facultatea noastră dispune de un echilibru esențial între aria <strong>academică</strong> și cea <strong>socială</strong> când vine vorba de activități extracurriculare. Astfel, fiecare student poate găsi ceva care să-i îmbogățească experiența universitară.
        </p>
    </div>
    <div class="zpd_card navigation-container">
        <a href="/ZPD" class="nav-button">
            Citeste și despre Ziua Porților Deschise <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</main>
