@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<section id="banner">
    <div class="inner">
        <h1><b>Asociația Studenților la Matematică și Informatică</b></h1>
        <p style="color: #E8E8E8 ">
            ASMI este Asociația Studenților la Facultatea de Matematică și Informatică din cadrul Universității din<br>
            București, în prezent membră <a href="https://www.facebook.com/anosr.ro" target="_blank"><b>ANOSR</b></a> și <a href="https://www.facebook.com/asub.page" target="_blank"><b>ASUB</b></a>.

        </p>
    </div>
    <video autoplay="" loop="" muted="" playsinline="" src="images\Base Pentru Site-2 HIGHER.mp4"></video>
</section>

<section id="top-clients" style="padding: 5px 0; background-color: #F5F5F5">
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://fmi.unibuc.ro/" target="_blank">
                    <img src="~/images/facult-mi.png" class="img-fluid" alt="" width="185">
                </a>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://anosr.ro/" target="_blank">
                    <img src="~/images/ansor.png" class="img-fluid" alt="" width="180">
                </a>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://web.facebook.com/asub.page?_rdc=1&_rdr" target="_blank">
                    <img src="~/images/asub_wide_logo.png" class="img-fluid" alt="" width="150">
                </a>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://unibuc.ro/" target="_blank">
                    <img src="~/images/ub.png" class="img-fluid" alt="" width="200">
                </a>
            </div>

        </div>
    </div>
</section>

<section class="wrapper">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2><b>Despre noi</b></h2>
                    <p>
                        <b>ASMI</b> este asociația reprezentativă la nivelul Facultății de Matematică și Informatică a Universității din București,
                        organizată ca un ONG non-profit.
                        Pentru noi, anul <b>2009</b> a reprezentat începutul, momentul în care au fost puse bazele comunității care a ajutat la dezvoltarea generațiilor de studenți și care încă de atunci își propune să evolueze constant.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2><b>Ce facem</b></h2>
                    <p>
                        În primul rând, reprezentăm interesele și aspirațiile studenților, dar nu ne limităm la atât. Alături de partenerii noștri realizăm proiecte și activități de interes pentru studenți, ce au ca scop dezvoltarea lor pe plan profesional, socio-cultural și personal. <br />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Dacă te-am făcut curios vizualizează <a href="/Proiecte"><u>proiectele noastre</u></a> pentru a afla mai multe.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5 mt-5" style="background-color: #F5F5F5">
        <div class="container">
            <div class="row text-center">

                <div class="col-md-4">
                    <h3 class="mb-0 text-dark"><span style="font-size: 2em;">35 </span>Proiecte</h3>
                </div>

                <div class="col-md-4" style="border-left:2px solid #555; border-right:2px solid #555;">
                    <h3 class="mb-0 text-dark"><span style="font-size: 2em;">200 </span> Voluntari</h3>
                </div>

                <div class="col-md-4">
                    <h3 class="mb-0 text-dark"><span style="font-size: 2em;">14 </span> Ani de experiență</h3>
                </div>
            </div>
        </div>
    </section>

    <br /><br />

    <partial name="partial_proiecte" view-data="ViewData" />

    <div class="inner mb-5">
        <div class="d-flex justify-content-center" id="all-projects-btn">
            <span class="separator"></span>
            <a href="/Proiecte" class="btn btn-primary-outline py-3"><span class="mx-3">Vezi toate proiectele</span></a>
            <span class="separator"></span>
        </div>
        <br />
    </div>

    <section id="cta" class="wrapper">
        <div class="inner">
            <h2><b>Consiliul Director</b></h2>
        </div>
    </section>

    <div class="inner">
        <div class="testimonials justify-content-around">
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/cd/rsz_1presedinte.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Liviu Bouruc</h3>
                                <h5><b style="color: orange;">Președinte</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>Ambițios și perseverent, dornic de a ajuta asociația să se dezvolte pentru a aduce o schimbare în jurul nostru, de la studenți pentru studenți.</p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/bouruc.liviu/" style="color: orange; " target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/petru-liviu-bouruc-276931177/" style="color: orange;" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/liviubouruc" style="color: orange;" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px; ">
                            <div class="image">
                                <img src="images/cd/raducu.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Radu Gheorghe</h3>
                                <h5><b class="text-primary">Prim Vicepreședinte</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>
                            Ambițios, entuziast și orientat spre oameni, îmi doresc să contribui la dezvoltarea Asociației pentru a transforma perioada studențească în cei mai frumoși ani din viață.    
                            </p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/radu362" style="color:blue; " target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/radu-mihai-gheorghe-343698224/" style="color:blue; " target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
                        </li> 
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/cd/tudor.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Tudor Chițu</h3>
                                <h5><b style="color:lightpink">Vicepreședinte</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>
                                Empatic, dedicat și cu o dorință puternică de a contribui în dezvoltarea Asociației, a membrilor acesteia și a vieții studențești.

                            </p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/tudor.chitu.1" style="color:lightpink;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
 
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/cd/lori.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Loredana Delcea</h3>
                                <h5><b style="color:blueviolet">Director Executiv</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>
                                Energică, creativă și dornică să-i ajut pe cei din jur, vreau să sprijin dezvoltarea Asociației și a voluntarilor pentru a face din perioada studenției o experiență de neuitat.
                            </p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/loredana.delcea.9" style="color:blueviolet;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/cd/georgiana.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Georgiana Prisacaru</h3>
                                <h5><b style="color:green">Secretar General</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>
                                Ambițioasă, perseverentă și creativă. Îmi doresc să contribui la dezvoltarea Asociației, să ajut voluntarii acesteia și studenții facultății, astfel încât să producem o schimbare pozitivă în jurul nostru.
                            </p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100009354757253" style="color:green;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
           
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>
