@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" />
}

<section id="banner">
    <div class="inner">
        <h1><b>Asociația Studenților la Matematică și Informatică</b></h1>
        <p style="color: #E8E8E8 ">
            ASMI este Asociația Studenților la Facultatea de Matematică și Informatică din cadrul Universității din<br>
            București, în prezent membră <a href="https://www.facebook.com/anosr.ro" target="_blank"><b>ANOSR</b></a> și <a href="https://www.facebook.com/asub.page" target="_blank"><b>ASUB</b></a>.

        </p>
    </div>
    <video autoplay="" loop="" muted="" playsinline="" src="images\Base Pentru Site-2 HIGHER.mp4"></video>
</section>

<section id="top-clients" style="padding: 5px 0; background-color: #F5F5F5">
    <div class="container">
        <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://fmi.unibuc.ro/" target="_blank">
                    <img src="~/images/facult-mi.png" class="img-fluid" alt="" width="185">
                </a>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://anosr.ro/" target="_blank">
                    <img src="~/images/ansor.png" class="img-fluid" alt="" width="180">
                </a>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://web.facebook.com/asub.page?_rdc=1&_rdr" target="_blank">
                    <img src="~/images/asub_wide_logo.png" class="img-fluid" alt="" width="150">
                </a>
            </div>

            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="https://unibuc.ro/" target="_blank">
                    <img src="~/images/ub.png" class="img-fluid" alt="" width="200">
                </a>
            </div>

        </div>
    </div>
</section>

<section class="wrapper">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2><b>Despre noi</b></h2>
                    <p>
                        <b>ASMI</b> este asociația reprezentativă la nivelul Facultății de Matematică și Informatică a Universității din București,
                        organizată ca un ONG non-profit.
                        Pentru noi, anul <b>2009</b> a reprezentat începutul, momentul în care au fost puse bazele comunității care a ajutat la dezvoltarea generațiilor de studenți și care încă de atunci își propune să evolueze constant.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2><b>Ce facem</b></h2>
                    <p>
                        În primul rând, reprezentăm interesele și aspirațiile studenților, dar nu ne limităm la atât. Alături de partenerii noștri realizăm proiecte și activități de interes pentru studenți, ce au ca scop dezvoltarea lor pe plan profesional, socio-cultural și personal. <br />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Dacă te-am făcut curios vizualizează <a href="/Proiecte"><u>proiectele noastre</u></a> pentru a afla mai multe.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="py-5 mt-5" style="background-color: #F5F5F5">
        <div class="container">
            <div class="row text-center">

                <div class="col-md-4">
                    <h3 class="mb-0 text-dark">Proiecte</h3>
                </div>

                <div class="col-md-4" style="border-left:2px solid #555; border-right:2px solid #555;">
                    <h3 class="mb-0 text-dark">Voluntari</h3>
                </div>

                <div class="col-md-4">
                    <h3 class="mb-0 text-dark">Ani de experiență</h3>
                </div>
            </div>
        </div>
    </section>

    <br /><br />

    <partial name="partial_proiecte" view-data="ViewData" />

    <div class="inner mb-5">
        <div class="d-flex justify-content-center" id="all-projects-btn">
            <span class="separator"></span>
            <a href="/Proiecte" class="btn btn-primary-outline py-3"><span class="mx-3">Vezi toate proiectele</span></a>
            <span class="separator"></span>
        </div>
        <br />
    </div>

    <section id="cta" class="wrapper">
        <div class="inner">
            <h2><b>Consiliul Director</b></h2>
        </div>
    </section>

    <div class="inner">
        <div class="testimonials justify-content-around">
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/rsz_1presedinte.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Dawod Paul</h3>
                                <h5><b style="color: orange;">Presedinte</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>Dorința de a ajuta studenții mă motivează sa dau întotdeauna mai mult. Inovație, dezvoltare și oportunitate sunt cuvintele cheie dupa care mă axez, pentru Asociație, voluntari și studenți.</p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/last.paul" style="color:orange;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/paul-nasser-dawod-258006202/" style="color:orange; "><i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px; ">
                            <div class="image">
                                <img src="images/rsz_11prim-vice.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Bouruc Liviu</h3>
                                <h5><b class="text-primary">Prim Vicepreședinte</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>Ambițios și perseverent, dornic de a ajuta asociația să se dezvolte pentru a aduce o schimbare în jurul nostru, de la studenți pentru studenți.</p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/bouruc.liviu/" style="color:blue; " target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/petru-liviu-bouruc-276931177/" style="color:blue;" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/liviubouruc" style="color:blue;" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/rsz_vice.jpeg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Vijulan Ștefania</h3>
                                <h5><b style="color:lightpink">Vicepreședinte</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>
                                Destoinică și comunicativă, sunt un bun ascultător care țintește dezvoltarea personală și colectivă.
                                Evenimentele asociate spațiului universitar își lasă permanent amprentă asupra studenților, astfel mă dedic idealizării acestor experiențe fundamentale.
                            </p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/stefi.vijulan/" style="color:lightpink;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/stefania-vijulan-3a3433207/" style="color:lightpink;" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/StefaniaVijulan" style="color:lightpink;" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/rsz_2director.jpg" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Dima Oana</h3>
                                <h5><b style="color:blueviolet">Director Executiv</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>Calculată, empatică și înțelegătoare. Dedicată și dornică să ajute oricând studenții și asociația. "Believe you can and you're halfway there." -Theodore Roosevelt</p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/oana.dima.391" style="color:blueviolet;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/oanadima/" style="color:blueviolet;" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/DimaOanaTeodora" style="color:blueviolet;" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <div class="content">
                    <div>
                        <div class="author" style="padding-bottom:20px;">
                            <div class="image">
                                <img src="images/rsz_secretar.png" alt="">
                            </div>
                            <div class="cd-text">
                                <h3 class="font-weight-bold mb-0">Sorescu Mihai</h3>
                                <h5><b style="color:green">Secretar General</b></h5>
                            </div>
                        </div>
                        <blockquote>
                            <p>
                                Echilibrat, muncitor și deschis la nou. Hotărât să contribui la dezvoltarea continuă a asociației și la îmbunătățirea vieții studenților.
                            </p>
                        </blockquote>
                    </div>

                    <ul class="icons">
                        <li>
                            <a href="https://www.facebook.com/mihai.sorescu.180" style="color:green;" target="_blank"><i class="fab fa-facebook-f fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>