@{ ViewData["Title"] = "Recrutări"; }

@section Styles {
    <link rel="stylesheet" href="~/css/studenti.css" />
    <link rel="stylesheet" href="~/css/recrutari.css" />
}

<div class="py-4">
    <div class="lightbox-gallery">
        <div class="container">
            <div class="jumbotronn">
            </div>

        </div>
    </div>
</div>

@{
    const bool avemRecrutari = true;
}


@if (avemRecrutari)
{


<div class="text-center">
    <h2 class="font-weight-bold">Te așteptăm în echipa noastră!</h2>

    <h3>Înscrieri disponibile: <span style="color:red;">Începând cu 30 septembrie 2022</span></h3>
    
    
       <a href="https://forms.gle/cJpBEbZPsW4yMJh29" class="btn-lg btn-danger font-weight-bold" target="_blank">

           <span style="color: white;">Înscrie-te aici!</span>
       </a>

       <br/>
       <br/>

    <div id="countdown">
        <h3 id="amr">Au mai rămas:</h3>
        <ul>
            <li class="clock"><span id="days"></span>zile</li>
            <li class="clock"><span id="hours"></span>ore</li>
            <li class="clock"><span id="minutes"></span>minute</li>
            <li class="clock"><span id="seconds"></span>secunde</li>
        </ul>
    </div>
    <div id="content" class="emoji">
        <h2>Momentan formularul este închis. Te așteptăm la următoarea sesiune de recrutări!</h2>
    </div>
</div>
}
else
{<div class="text-center">
    <h2 class="font-weight-bold">Momentan, sesiunea de recrutări a luat sfârșit!</h2>
    <h3>Fii pe fază pentru următoarea sesiune!</h3>
 </div>
}





    <script>
        (function () {
            const second = 1000,
                minute = second * 60,
                hour = minute * 60,
                day = hour * 24;


            let birthday = "Oct 12, 2022 23:59:59",

                countDown = new Date(birthday).getTime(),
                x = setInterval(function () {

                    let now = new Date().getTime(),
                        distance = countDown - now;

                    document.getElementById("days").innerText = Math.floor(distance / (day)),
                        document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                        document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                        document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                    //do something later when date is reached
                    if (distance < 0) {
                        let headline = document.getElementById("headline"),
                            countdown = document.getElementById("countdown"),
                            content = document.getElementById("content");

                        headline.innerText = "It's my birthday!";
                        countdown.style.display = "none";
                        content.style.display = "block";

                        clearInterval(x);
                    }
                    //seconds
                }, 0)
        }());
    </script>
