@{
    ViewData["Title"] = "Studenti";
}

@section Styles {
    <link rel="stylesheet" href="~/css/studenti.css" />
}

<br />
<br />
<div class="py-5 service-26">

    <div class="container">
        <h2 class="card-title">Studenți</h2>
        <h6 class="card-subtitle mb-2 text-muted">Monitorul oficial - De pe aceasta pagina poti obtine informatii referitoare la burse, orar si altele.</h6>

        <p class="card-text">Unele date și informații prezentate pe această pagină ar putea să nu fie de încredere sau s-ar putea ca o parte dintre acestea să fie neactualizate și să nu reflecte cerințele și responsabilitățile impuse de Universitatea București. De aceea, consultă și site-ul oficial al universității pentru informații sigure.</p>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col">
                        <h3>Studenți</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mr-2 mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-guilded"></i>
                                        <h5 class="card-title my-0 ml-2">GHIDUL STUDENTULUI</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mr-2 mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="far fa-credit-card"></i>
                                        <h5 class="card-title my-0 ml-2">CARDURI</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mr-2 mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-question-circle"></i>
                                        <h5 class="card-title my-0 ml-2">FAQ</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mr-2 mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-igloo"></i>
                                        <h5 class="card-title my-0 ml-2">POLICLINICĂ</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mr-2 mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-clipboard-list"></i>
                                        <h5 class="card-title my-0 ml-2">PROGRAMĂRI BAZA 2</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mr-2 mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-trophy"></i>
                                        <h5 class="card-title my-0 ml-2">BENEFICII</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2 w-100">
                            <div class="card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-book"></i>
                                        <h5 class="card-title my-0 ml-2">BIBLIOTECA UPT</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2 w-100">
                            <div class="card danger-card" tabindex="0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <i class="fas fa-angry"></i>
                                        <a href="https://forms.gle/cRzmNu4ZwSoUrsVz7" class="card-title my-0 ml-2" id="bug-report-btn">DEPUNE O PLÂNGERE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="d-inline-block mr-2 mb-2 w-100">
                        <h3>Educațional</h3>
                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-sitemap"></i>
                                <h5 class="card-title my-0 ml-2">STRUCTURA ANULUI UNIVERSITAR</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-plus"></i>
                                <h5 class="card-title my-0 ml-2">ERASMUS +</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-telegram-plane"></i>
                                <h5 class="card-title my-0 ml-2">PRACTICA</h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-graduation-cap"></i>
                                <h5 class="card-title my-0 ml-2">PLANIFICARE EXAMENE</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-flag"></i>
                                <h5 class="card-title my-0 ml-2">RAPOARTE STUDENTI REPREZENTANTI</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body pb-2">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-flag"></i>
                                <h5 class="card-title my-0 ml-2">RAPOARTE STUDENTI REPREZENTANTI</h5>
                            </div>

                            <div class="d-flex justify-content-around mt-3 mb-0">
                                <a href="#" class="card-link text-muted">Senatul universitar</a>
                                <a href="#" class="card-link text-muted">Consiliul Facultatii</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body pb-2">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-theater-masks"></i>
                                <h5 class="card-title my-0 ml-2">REGULAMENTE</h5>
                            </div>

                            <div class="d-flex flex-wrap justify-content-around mt-3 mb-0">
                                <a href="#" class="card-link text-muted my-2">Planuri de Ivatamant</a>
                                <a href="#" class="card-link text-muted my-2">Statutul Studentului</a>
                                <a href="#" class="card-link text-muted my-2">Burse</a>
                                <a href="#" class="card-link text-muted my-2">Cazare Camin</a>
                                <a href="#" class="card-link text-muted my-2">Alegeri studenti reprezentanti</a>
                                <a href="#" class="card-link text-muted my-2">RODPI Licenta</a>
                                <a href="#" class="card-link text-muted my-2">Evaluare si Notare</a>
                                <a href="#" class="card-link text-muted my-2">RODPI Master</a>
                                <a href="#" class="card-link text-muted my-2">Carta UPT</a>
                                <a href="#" class="card-link text-muted my-2">Tabere Studentesti</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</div>