@{
    ViewData["Title"] = "Studenti";
}

@section Styles {
    <link rel="stylesheet" href="~/css/studenti.css" />
}


<div class="py-5 service-26">

    <div class="container">
        <h2 class="card-title">Studenți</h2>
        <h6 class="card-subtitle mb-3 text-muted">
            <span style="color: darkslateblue; font-size:15px !important">
                Monitorul oficial - De pe această pagină poți obține informații referitoare la burse, orar, reprezentare studențească și altele.
            </span>
        </h6>

        <p class="card-text">Unele date și informații prezentate pe această pagină ar putea să nu fie de încredere sau s-ar putea ca o parte dintre acestea să fie neactualizate și să nu reflecte cerințele și responsabilitățile impuse de Universitatea București. De aceea, consultă și site-ul oficial al universității pentru informații sigure.</p>

        <p class="card-text">

            Site-ul oficial al Facultății de Matematică și Informatică:
            <a href="https://fmi.unibuc.ro/" class="btn-sm btn-info font-weight-bold" target="_blank">

                <span style="color: white;">FMI UNIBUC</span>
            </a>

            <br />
            Site-ul oficial al Universității din București:
            <a href="https://unibuc.ro/" class="btn-sm btn-info font-weight-bold" target="_blank">

                <span style="color: white;">UB</span>
            </a>
        </p>

        <p></p>
        <p class="card-text">
            La sfârșitul fiecărui an universitar, ASMI întocmește <b>Formularul Codului Drepturilor și Obligațiilor Studentului</b> cu scopul îmbunătățirii vieții studențești la FMI.
            Rezultatele colectate în urma răspunsurilor vor fi prezentate, sub forma unui raport, în cadrul structurilor de conducere ale Facultății și Universității.
            <br />
            Aici poate fi vizualizat în forma finală:
            <a href="https://drive.google.com/file/d/1pwDIlcFrw_NOgOtDSq8pvnbA6eF8vtVJ/view?usp=sharing" class="btn-sm btn-danger font-weight-bold" target="_blank">

                <span style="color: white;">PDF Raport CDOS 2021</span>
            </a>
        </p>

        <p></p>
        <p class="card-text">
            Unul dintre scopurile ASMI este monitorizarea, dezvoltarea și îmbunătățirea vieții studențești.
            Dacă ai vreo problemă pe care vrei să o comunici și nu ști cui,
            am conceput pentru tine un <b>"Buton de panică"</b> prin care poți să ne sesizezi oricând
            referitor la mediul stdențesc FMI.
            <br />
            Te rugăm completează formularul de mai jos, iar noi vom lua legătura cu tine în cel mai scurt timp posibil:
            <a href="https://forms.gle/cRzmNu4ZwSoUrsVz7" class="btn btn-danger font-weight-bold" target="_blank">

                <span style="color: white;">Raportează o problemă</span>
            </a>
        </p>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="d-inline-block mr-2 mb-2 w-100">
                    <h3>Studenți</h3>
                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-sitemap"></i>
                                <h5 class="card-title my-0 ml-2">
                                    <a href="https://ghid.asmi.ro/" target="_blank">GHIDUL BOBOCULUI</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="intrebariBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-question-circle"></i>
                                <h5 class="card-title my-0 ml-2">
                                    ÎNTREBĂRI FRECVENTE
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="intrebari" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>ÎNTREBĂRI FRECVENTE</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>


                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="medicBtn">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-heart"></i>
                                <h5 class="card-title my-0 ml-2">
                                    ASISTENȚĂ MEDICALĂ
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="medic" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>ASISTENȚĂ MEDICALĂ</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body"  id="bibliotecaBtn">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-telegram-plane"></i>
                                <h5 class="card-title my-0 ml-2">BIBLIOTECĂ</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="biblioteca" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>BIBLIOTECĂ</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="reprezentareBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-tasks"></i>
                                <h5 class="card-title my-0 ml-2">STUDENȚI REPREZENTANȚI</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="reprezentare" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>STUDENȚI REPREZENTANȚI</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="exameneBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-university"></i>
                                <h5 class="card-title my-0 ml-2">PLANIFICARE EXAMENE</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="examene" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>PLANIFICARE EXAMENE</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>


            </div>

            <div class="col-sm-6">
                <div class="d-inline-block mr-2 mb-2 w-100">
                    <h3>Educațional</h3>
                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="structuraBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-arrow-circle-right"></i>
                                <h5 class="card-title my-0 ml-2">STRUCTURA ANULUI UNIVERSITAR</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="structura" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>STRUCTURA ANULUI UNIVERSITAR</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="practicaBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-graduation-cap"></i>
                                <h5 class="card-title my-0 ml-2">PRACTICĂ</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="practica" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>PRACTICĂ</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="erasmusBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-plus"></i>
                                <h5 class="card-title my-0 ml-2">ERASMUS</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="erasmus" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>ERASMUS</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="licentaBtn">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-check"></i>
                                <h5 class="card-title my-0 ml-2">LICENȚĂ</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="licenta" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>LICENȚĂ</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="masterBtn">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-check-circle"></i>
                                <h5 class="card-title my-0 ml-2">MASTER</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="master" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>MASTER</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>


                <div class="d-inline-block mr-2 mb-2 w-100">
                    <div class="card" tabindex="0">
                        <div class="card-body" id="senatBtn">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-flag"></i>
                                <h5 class="card-title my-0 ml-2">SENATUL UNIVERSITAR</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div id="senat" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <h3>SENATUL UNIVERSITAR</h3>
                        <p class="card-text">
                            text de proba
                        </p>
                    </div>

                </div>

            </div>
        </div>

        
    </div>





</div>

<script>
    // Get the modal
    var modal1 = document.getElementById("intrebari");
    var modal2 = document.getElementById("medic");
    var modal3 = document.getElementById("medic");
    var modal4 = document.getElementById("biblioteca");
    var modal5 = document.getElementById("reprezentare");
    var modal6 = document.getElementById("examene");
    var modal7 = document.getElementById("structura");
    var modal8 = document.getElementById("practica");
    var modal9 = document.getElementById("erasmus");
    var modal10 = document.getElementById("licenta");
    var modal11 = document.getElementById("master");
    var modal12 = document.getElementById("senat");

    // Get the button that opens the modal
    var btn1 = document.getElementById("intrebariBtn");
    var btn2 = document.getElementById("medicBtn");
    var btn3 = document.getElementById("medicBtn");
    var btn4 = document.getElementById("bibliotecaBtn");
    var btn5 = document.getElementById("reprezentareBtn");
    var btn6 = document.getElementById("exameneBtn");
    var btn7 = document.getElementById("structuraBtn");
    var btn8 = document.getElementById("practicaBtn");
    var btn9 = document.getElementById("erasmusBtn");
    var btn10 = document.getElementById("licentaBtn");
    var btn11 = document.getElementById("masterBtn");
    var btn12 = document.getElementById("senatBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn1.onclick = function () {
        modal1.style.display = "block";
    }
    btn2.onclick = function () {
        modal2.style.display = "block";
    }
    btn3.onclick = function () {
        modal3.style.display = "block";
    }
    btn4.onclick = function () {
        modal4.style.display = "block";
    }
    btn5.onclick = function () {
        modal5.style.display = "block";
    }
    btn6.onclick = function () {
        modal6.style.display = "block";
    }
    btn7.onclick = function () {
        modal7.style.display = "block";
    }
    btn8.onclick = function () {
        modal8.style.display = "block";
    }
    btn9.onclick = function () {
        modal9.style.display = "block";
    }
    btn10.onclick = function () {
        modal10.style.display = "block";
    }
    btn11.onclick = function () {
        modal11.style.display = "block";
    }
    btn12.onclick = function () {
        modal12.style.display = "block";
    }
   
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal1) {
            modal1.style.display = "none";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
        if (event.target == modal3) {
            modal3.style.display = "none";
        }
        if (event.target == modal4) {
            modal4.style.display = "none";
        }
        if (event.target == modal5) {
            modal5.style.display = "none";
        }
        if (event.target == modal6) {
            modal6.style.display = "none";
        }
        if (event.target == modal7) {
            modal7.style.display = "none";
        }
        if (event.target == modal8) {
            modal8.style.display = "none";
        }
        if (event.target == modal9) {
            modal9.style.display = "none";
        }
        if (event.target == modal10) {
            modal10.style.display = "none";
        }
        if (event.target == modal11) {
            modal11.style.display = "none";
        }
        if (event.target == modal12) {
            modal12.style.display = "none";
        }
    }
</script>