@{
    ViewData["Title"] = "ZPD";
}
@{
    Layout = "~/Views/Shared/_LayoutZpd.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/zpd.css" />
}


    <div class="py-5">
        <img src="~/images/ZPD_Title.png" alt="Ziua Porților Deschise" style="display: block; max-width: 100%; height: auto; margin: 0 auto; padding: 10px;">
    </div>

    @* <div style="width: 90vw; margin-left: 5vw; background-color: rgb(228, 228, 228); padding: 10px; border-radius: 10px; margin-bottom: 5vh; box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.334);">
        <p class="jost">
            Vrei să vezi cum arată Facultatea de Matematică și Informatică pe interior? 
            Pe <strong>26-27 aprilie</strong>, te invităm la 
            <em><strong>Ziua Porților Deschise</strong></em>, un eveniment care îți oferă ocazia să explorezi facultatea și să afli tot ce te interesează despre viața de student! 🎓
            <br><br>
            🔍 Ce te așteaptă?
            <br>
            🔹 <strong>Tur ghidat al facultății</strong>: vei vizita amfiteatre, săli de curs, laboratoare și alte dotări
            <br>
            🔹 <strong>Discuții cu voluntari ASMI</strong> despre admitere, examene și experiența lor la FMI
            <br><br>
            📅 <strong>Când?</strong> 26-27 aprilie
            <br>
            📍 <strong>Unde?</strong> Facultatea de Matematică și Informatică, Universitatea din București
        </p>
    </div> *@

    <div class="zpd_card">
        <p>
            <p>
                Dacă vrei să afli mai multe despre oferta educațională a Facultății, să discuți cu voluntarii ASMI despre viața studențească sau să iei parte la un curs demonstrativ, Ziua Porților Deschise este evenimentul potrivit pentru tine!
            </p>
            <p>
                Înscrierile pentru evenimentul fizic s-au încheiat, însă dacă dorești să participi, anul acesta cursurile și prezentările se vor desfășura și în format online! 
            </p>
            <h2>Calendarul evenimentului</h2>
            <p style="font-style: italic; color: rgb(0, 0, 117);">
                Toate prezentările și cursurile pot fi vizionate online cu ajutorul butonului de mai jos, la ora precizată.
            </p>
            <h3> Sâmbătă, 26 aprilie</h3>
            <ul>
                <li>
                    10:00 - Curs demonstrativ de Informatică 
                </li>
                <li>
                    11:00 - Prezentare a ofertei educaționale
                </li>
                <li>
                    14:30 - Curs demonstrativ de Informatică - Programare Orientată pe Obiecte
                </li>
                <li>
                    15:30 - Prezentare a ofertei educaționale
                </li>
            </ul>
            <h3>Duminică, 27 aprilie</h3>
            <ul>
                <li>
                    10:00 - Curs demonstrativ de Informatică - Computer Vision
                </li>
                <li>
                    11:00 - Prezentare a ofertei educaționale    
                </li>
                <li>
                    14:30 - Curs demonstrativ de Matematică - Șiruri de numere
                </li>
                <li>
                    15:30 - Prezentare a ofertei educaționale
                </li>
            </ul>

            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: auto; margin-top: 20px;">
                <a href="https://meet.google.com/feo-mcgu-jqz" target="_blank" style="text-decoration: none;">
                    <button style="text-transform:uppercase; letter-spacing: 0.1cap; background-color: rgb(0, 0, 135); color: white !important; border: none; border-radius: 5px; cursor: pointer;">
                        Vezi prezentarea live
                    </button>
                </a>
                <p style="font-size: 1rem; color: rgb(0, 0, 135);" class="mt-2">* conform orarului</p>
            </div>
        </p>
    </div>

    <div class="zpd_card p-5">
        <p>
            <p style="font-style: italic; color: rgb(0, 0, 117);">
                Vă rugăm să participați la evenimentul fizic doar dacă ați completat formularul de înscriere.
            </p>
            <p>
            Locația evenimentului:
            </p>
            <iframe loading="lazy" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA9fGn6BgcbA-uVeW_CD5kgYZSGk2dl0P8&amp;q=Facultatea+de+Matematică+și+Informatică+-+Universitatea+din+București" width="100%" height="300" frameborder="0">
            </iframe>
        </p>
    </div>
    <div class="zpd_card navigation-container">
        <a href="/DespreFMI" class="nav-button">
            Citește și despre FMI <i class="fas fa-arrow-right"></i>
    </div>

</section>
