@{
    ViewData["Title"] = "ZPD";
}
@{
    Layout = "~/Views/Shared/_LayoutZpd.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/zpd.css" />
}


    <h2 class="upper text-main jost font-weight-bold text-center pt-4">
        Ziua Porților Deschise
    </h2>

    <div style="width: 90vw; margin-left: 5vw; background-color: rgb(228, 228, 228); padding: 10px; border-radius: 10px; margin-bottom: 5vh; box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.334);">
        <p class="jost">
            Vrei să vezi cum arată Facultatea de Matematică și Informatică pe interior? 
            Pe <strong>26-27 aprilie</strong>, te invităm la 
            <em><strong>Ziua Porților Deschise</strong></em>, un eveniment care îți oferă ocazia să explorezi facultatea și să afli tot ce te interesează despre viața de student! 🎓
            <br><br>
            🔍 Ce te așteaptă?
            <br>
            🔹 <strong>Tur ghidat al facultății</strong>: vei vizita amfiteatre, săli de curs, laboratoare și alte dotări
            <br>
            🔹 <strong>Discuții cu voluntari ASMI</strong> despre admitere, examene și experiența lor la FMI
            <br><br>
            📅 <strong>Când?</strong> 26-27 aprilie
            <br>
            📍 <strong>Unde?</strong> Facultatea de Matematică și Informatică, Universitatea din București
        </p>
    </div>
</section>
